asgiref==3.9.1
boto3==1.40.30
botocore==1.40.30
Django==5.2.6
django-filter==25.1
django-storages==1.14.6
django-widget-tweaks==1.5.0
djangorestframework==3.16.1
gunicorn==23.0.0
jmespath==1.0.1
packaging==25.0
pillow==11.3.0
psycopg2==2.9.10
python-dateutil==2.9.0.post0
s3transfer==0.14.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
